<br>
<div class="row" *ngIf="userType == 'user'">
  <div class="col s6">
    <ul class="collection with-header">
      <li class="collection-item" *ngFor="let order of orders" >
        <div (click)="getOrder(order.orderId)">{{order.orderId}}
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s6">
    <table>
      <tbody>
        <tr>
          <td>Order Id</td>
          <td>{{singleOrder.orderId}}</td>
        </tr>
        <tr>
          <td>Product Id</td>
          <td>{{singleOrder.productId}}</td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td>{{singleOrder.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="row" *ngIf="userType == 'admin'">  
    <div class="col s12">
      <h1>Orders List</h1>
      <table>
          <thead>
            <tr>
                <th>Order Id</th>
                <th>Product Id</th>
                <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of ordersList">
              <td>{{ order.orderId }}</td>
              <td>{{ order.productId }}</td>
              <td>{{ order.quantity }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
        
